MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=ThriveX
MYSQL_USER=thrive
MYSQL_PASSWORD=change_me
DB_NAME=ThriveX
DB_USERNAME=thrive
DB_PASSWORD=change_me
EMAIL_HOST=mail.qq.com
EMAIL_PORT=465
EMAIL_USERNAME=
EMAIL_PASSWORD=

